/* CSS declarations go here */


header {
}

#login-buttons {
  display: block;
}

h1 {
}

form {
}

.newTask input {
}

.newTask input:focus{
}

ul {
}

.delete {
}

li {
}

li .text {
}

li.checked {
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
}

header .hideCompleted {
}

.togglePrivate {
  background-color: #EEEEEE;
  font-style: italic;
}
